{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'create_recipe' %}" role="button" aria-disabled="true" class="btn btn-outline-warning create-button">
    Create a recipe</a>
{% endif %}

<div class="container-fluid">
    <div class="row">

        <!-- Recipe Entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post_comment in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post_comment.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/diabekki/image/upload/v1635505618/pexels-photo-6823612_2_grghwh.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post_comment.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="recipe_author">Author: {{ post_comment.recipe_author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' post_comment.slug %}" class="post-link">
                                <h2 class="card-title">{{ post_comment.recipe_title }}</h2>
                                <p class="card-text">{{ post_comment.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post_comment.created_on}} <i class="far fa-heart"></i>
                                {{ post_comment.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}